name: Maven CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SapMachine JDK 23
        uses: actions/setup-java@v3
        with:
          distribution: sapmachine
          java-version: 23
          cache: maven

      - name: Build with Maven
        run: mvn clean verify -B -V

